body, html {
    height: 100%;
    
}

body {
    background-color: red($color: #991e1e);
    margin: 0;
    font-family: 'Monsterrat';
}

h1 {
    margin: 5rem;

}

    .row {
        margin: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    }
    

